@model IEnumerable<eventos.Models.Evento>

@{
    Layout = "_LayoutAdmin";
}
<style type="text/css">
    .botao{
	background: #3F51B5;
	color: #fff;
	border: 2px solid black;
    height: 54px;
    width: 101px;
	}
	.botao:hover{
	cursor: pointer;
	background: black;
	}
    .titulos{ text-align: center;background-color: #343a40 ; color: white;}

    .botao1{
	background: #B00000;
	color: #fff;
	border: 2px solid black;
    height: 54px;
    width: 101px;
	}
	.botao1:hover{
	cursor: pointer;
	background: black;
	}
</style>
<div class="container-fluid" style="margin-top: 10px; text-align: center; ">      
<h2 class="titulos" style="text-align: center; margin-bottom: 50px;">Proximos Eventos</h2>
    @foreach(var evento in  Model){
    
    <div class="card" style="width: 35rem;margin-bottom: 26px;float:left; margin-left: 179px; border:4px solid; margin-top: 10px;">
    <img class="card-img-top" style="height: 293px;" src=@evento.imagem alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@evento.Nome</h5>
        <h5 class="card-title">@evento.Data.ToString("dd/MM/yyyy HH:mm")</h5>
        <h5 class="card-title">@evento.capacidade Ingressos disponiveis</h5>
        <h5 class="card-title"><strong></strong>@evento.ValorIngresso.ToString("C")</h5>
        <p class="card-text">Veja seu Idolo no @evento.Casa.Nome</p>
        
        @if(@evento.capacidade > 0){
        <a href="/Gestao/ComprarEvento/@evento.Id" id="ComprarID"><input type="submit" value="Comprar" class="botao"></a>
        }else{
          <a><input type="submit" value="Esgotado" class="botao1"></a>
        }
        </div>
        
    </div>
}
<script src="~/js/compra.js"></script>
</div>
